p Thank you for registering with Photo Market
p This verify your email address please click on the following link, or paste this into your browser:
a(href="http://#{host}/auth/verify/#{token}") http://#{host}/auth/verify/#{token}
p Thank you!`
