p Thank you for registering with photographers DB
p This verify your email address please click on the following link, or paste this into your browser:
a(href="http://#{host}/account/verify/#{token}") http://#{host}/account/verify/#{token}
p Thank you!`
